.contact-wrapper {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
  
    .contact-card-1__title {
      font-size: 20px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .contact__text {
      font-size: 20px;
      margin-bottom: 20px;
  
      p {
        padding: 10px;
      }
    }
    .icon {
      font-size: 30px;
      margin: 20px;
    }
    .icon:hover {
      color: red;
    }
    input {
      width: 90%;
      height: 40px;
      margin: 10px 0px;
    }
  }
  input,
  textarea {
    width: 90%;
    box-shadow: 2px 2px 10px 2px purple;
    padding: 10px;
    font-size: 20px;
    font-style: italic;
    border-radius: 10px;
  }
  .contact-card-2__form {
    margin-bottom: 20px;
  }
  .contact__title {
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
    font-weight: bolder;
    font-style: italic;
    background-image: linear-gradient(30deg, red, purple);
    color: transparent;
    background-clip: text;
  }
  .contact {
    min-height: 100vh;
    padding-bottom: 100px;
  
    .contact-card-2__button {
      text-decoration: none;
      color: white;
      padding: 10px 20px;
      border-radius: 10px;
      font-size: 20px;
      background-image: linear-gradient(30deg, red, purple);
    }
  }