footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    height: 80px;
    padding: 0px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .icon {
      font-size: 20px;
      margin: 5px;
    }
    .icon:hover {
      color: red;
    }
  }